.image-view{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: auto;
    overflow-x: auto;


}
figcaption{
    padding-left: 20px;
    padding-right: 57px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

nav li{
    display: inline;
    float: left;
}
nav li a{
    display: block;
    color: white;
    padding: 8px;
    background-color: #333;
    text-decoration: none;
}