{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Photo Organizer</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'style.css' %}">  
    </head>
    <div class="navigation">
        <h1 class="title">Photo Organizer</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/create">Add Image</a></li>
            </ul>  
        </nav>
    </div>
    <body>
        <h1>Search Results</h1>
        <br/>
        <div class="image-view">
            {% for image in images %}
            <figure><img src = '{{image.image.url}}'  alt={{image.title}} height="100px" width="150px" style="display: grid;"> <figcaption>{{image.title}}</figcaption></figure>
            {% endfor %}
        </div> 
    </body>
</html>