{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Photo Organizer</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'style.css' %}">  
    </head>
    <div class="navigation">
        <h1 class="title">Photo Organizer</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/create">Add Image</a></li>
                <li><a href="/tag" class ="active">Create Tag</a></li>
            </ul>  
        </nav>
    </div>

    <body>
        <div class="containter">
            <h1>Tag Form</h1>
        
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit">
            </form>
        </div>
    </body>
</html>